

<style>
body {background-color: floralwhite;}
h1   {color: blue;}
p    {color:black}
h2   {color: gold;}
h3   {color:crimson}
h4   {color:purple}
h5   {color: chocolate;}
h6   {color: darkorchid}
h7   {color:goldenrod}
h8   {color:green}
h9   {color:blue}
h10  {color:darkred}
h11  {color:red}
h1   {font-size:xx-large;}
h2   {font-size: xx-large;}
h3   {font-size:xx-large}
h4   {font-size: x-large;}
h5   {font-size:large;}
h6   {font-size:large;}
h7   {font-size: large;}
h8   {font-size:large;}
h9   {font-size:large;}
h10   {font-size:large;}
h11   {font-size:large;}
li    {font-size: larger;}
li    {font-family: monospace;}

</style>
</head>